body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0rem;
  color: #141414;
  background-color: #eee;
}

h1,
h2,
h3,
p {
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}


.subtitulo{
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}


@media(max-width:900px){
  .subtitulo{
    font-size: 3rem;
    max-width: initial;
    text-transform: capitalize;
  }

  

}

@media(max-width:650px){
  .subtitulo{
    font-size: 2rem;
    max-width: initial;
    text-transform: capitalize;
  }}