h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 3rem;
}

.cabecalho-header {
  background: #06f;
}

.cabecalho {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  color: #f7f7f7;
}

.cabecalho-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.cabecalho-menu a {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  display: inline-block;
}

.cabecalho-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #06f;
  transition: 0.4s;
}

.cabecalho-menu a:hover:after {
  width: 100%;
  background-color: white;
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .cabecalho a {
    background: #f5f5f5;
    border-radius: 6px;
    color: #06f;
  }
  .cabecalho-menu a:hover:after {
    background-color: #06f;
  }
}

@media (max-width: 600px) {
  .cabecalho-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
  }
}
