.projetos {
  background-color: #06f;
  color: #ddd;
}

.projetos-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.projeto {
  background: #141414;
  padding: 15px;
  border-radius: 6px;
}

.projeto img {
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.projeto p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.projetos a {
  display: inline-block;
  background: linear-gradient(#06f, blueviolet);
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #141414;
}

.projetos a:hover {
  background: linear-gradient(#09f, blueviolet);
  border: 2px solid aqua;
}

@media (max-width: 900px) {
  .projetos-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .projetos .subtitulo {
    font-size: 2.5rem;
    max-width: initial;
  }

  .projeto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .projetos a {
    margin-bottom: 5px;
  }
}
